/*#buttons {
    position: absolute;
    width: 100%;
    height:50px;
    /*margin-top:34em;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    top: 0; left: 0%; bottom: 0; right: 0;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}*/





img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#imgs {
    width: 100px;
    height: 50px;
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}



ul li a { font-family: 'Press Start 2P', cursive; }


/*
#rtLeft {
    position: absolute;
    z-index: 99;
   /* margin-left: 10%;*/
    /*margin-top: 36em;
    width: 1;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}



#mvForward {
    position: absolute;
    z-index: 99;
    /* margin-left: 30%;
   margin-top: 110%;*/
   /* width: 50px;*/
    /*height: 50px;
    background-color: #FFFFFF;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}


#rtRight {
    position: absolute;
    z-index: 99; 
     /*  margin-left: 80%;
     margin-top: 100px;
    margin-top: 110%;
    background-color: #FFFFFF;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;;

}*/

#dark {
    background-color: black;
}

.navbar { 
    background-color: black;
} 

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#footerFirst {
    position: fixed;
    z-index: 94; 
    /*width: 100%;
    height:50px;*/
    background: white;
    margin-top:482px;
  }

#footer{
    background-color: black;
    margin-top:0px;
    height:30px;
  }



#text {
    position: fixed;
    margin-top: 150px;
}




@media screen and (min-width: 320px) {
  

    #imgs {
        width: 80px;
        height: 50px;
    }



  #buttons {
    position: absolute;
    width: 100%;
    height:50px;
    /*margin-top:34em;
    width: 50%;
    height: 50%;*/
    overflow: auto;
    margin: auto;
    top: 83%; left: 0%; bottom: 0; right: 0;
    /*background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;*/
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: black;
    /*border: 2px solid #ffffff;
    font-family: 'Press Start 2P', cursive; */
    font-size: 30px;
    color: white;
    }

    #rtLeft {
        width: 33.3%;
        height: 50px;
        background-color: black;
        border: none;
        

    }

    #mvForward {
        width: 33.3%;
        height: 50px;
        background-color: black;
        border: none;

    }

    #rtRight {
        width: 33.3%;
        height: 50px;
        background-color: black;
        border: none;

    }

   /* .btn {
        position: absolute;
        z-index: 99;
        width: 100%;
        height: 50px;
        background-color: #555555;
        border: 2px solid #ffffff;

    }*/

    .not-user-selectable { 
        -webkit-user-select: none; 
        -webkit-touch-callout: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none;    
        color: white;
      } 

      #loading-screen {
        position: absolute;
        z-index: 99;
        top: 75%;
        left: 5%;
        background: none;
        /*background-color: red;
        width: 100%;
        height: 100%;*/
        font-family: 'Press Start 2P', cursive;
        font-size: 8px;
        color: white;
        opacity: 1;
        transition: 1s opacity;
    }

    #loading-screen.fade-out {
        opacity: 0;
    }
    



}
